<!--
整理所有
云码资源淘宝店铺  大数据可视化大屏模板专家
https://shop188702750.taobao.com/search.htm?spm=a1z10.1-c.0.0.1221421cqgmNaI&search=y
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>汽车热度排名数据分析平台</title>
    <link rel="stylesheet" href="model19/css/style.css"/>
    <script type="text/javascript" src="model19/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<header>
    汽车热度排名数据分析平台
    <span id=localtime style=" font-size:14px; position: absolute; right: 30px; top:-20px; "></span>
</header>
<div id="content">
    <div class="content_left">
        <div class="online">
            <div class="title"><img src="model19/images/icon01.png"/> 家用轿车销量对比</div>
            <div class="online_con" id="container2">
            </div>
        </div>
        <div class="industry">
            <div class="title"><img src="model19/images/icon02.png"/> SUV销量对比</div>
            <div class="industry_con" id="container3"></div>
        </div>
    </div>
    <div class="content_center">
        <div class="center_top">
            <div class="title"><img src="model19/images/icon03.png"/> 全国秦PLUS上牌数据分布(2023-05)</div>
            <div class="center_top_con" id="distribution_map">
            </div>
        </div>
        <div class="center_bot">
            <div class="title"><img src="model19/images/icon03.png"/> 汽车品牌销量排行榜前十二</div>
            <div class="data_con2" id="container6">
            </div>
        </div>
    </div>
    <div class="content_right">
        <div class="data_box">
            <div class="title"><img src="model19/images/icon06.png"/> 新车销量排行榜前五</div>
            <div class="data_con" id="container5">
            </div>
        </div>
        <div class="data_box">
            <div class="title"><img src="model19/images/icon06.png"/> 汽车品牌销量对比</div>
            <div class="data_con" id="container4">
            </div>
        </div>
    </div>
</div>
</script>
<script type="text/javascript" src="model19/js/jquery.min.js"></script>
<script type="text/javascript" src="model19/js/echarts.min.js"></script>
<script type="text/javascript" src="model19/js/china.js"></script>
<script type="text/javascript" src="model19/js/vue.min.js"></script>
<script type="text/javascript" src="model19/js/map.js"></script>
<script type="text/javascript" src="model19/js/times.js"></script>
<!--<script type="text/javascript" src="model19/js/DTU.js"></script>-->
<!--<script type="text/javascript" src="model19/js/PLC.js"></script>-->
<script type="text/javascript" src="model19/js/online.js"></script>
<script type="text/javascript" src="model19/js/industry.js"></script>
<script type="text/javascript" src="model19/js/data.js"></script>
<script type="text/javascript" src="model19/js/data2.js"></script>
<script type="text/javascript" src="model19/js/data3.js"></script>
<script type="text/javascript" src="model19/js/index.js"></script>
</body>
</html>
